
<h1>Create a new Autopod </h1>

<form action="/autopods" method="POST">
  <label>Pod Name:</label>

  <br></br>

  <input type="text" name="pod_name" id="pod_name">
<%# binding.pry %>
  <input type="submit" value="submit">




</form>
