<%= @autopod.pod_name %>


<a href="/autopods/<%= @autopod.id %>/delete"> Delete 
  <!-- <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Autopod">
</form> -->
</a>
