<%= @autopod.pod_name %>


<!-- <a href="/autopods/<%= @autopod.id %>/delete"> Delete
  <!-- <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Autopod">
</form> -->
</a> -->

<%# if @autopod.rider_id == current_user %>


<form action="/autopods/<%= @autopod.id %>/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Autopod">
</form>
