<h1> Enter Your Info to Log In </h1>
<br>
<form action="/riders/login" method="POST">
 <label> Name: </label>
 <input type="text" name="username">

  <label> Password: </label> <input type="password" name="password">
  <%# binding.pry %>
   <input type="submit" name="submit" id="submit">
</form>
